In [7]:
from neo4j import GraphDatabase
import pandas as pd

uri = "neo4j://localhost:7687"  
user = "neo4j"               
password = "datathink"        

driver = GraphDatabase.driver(uri, auth=(user, password))

In [30]:
# Import site metadata
summary_stats_2022 = pd.read_csv("Neo4JOutputs/count_level_summary.csv")
joining_sites = pd.read_csv("july2023_hsi.csv")
joining_table = joining_sites[["Site Name", "County"]]

In [ ]:
def execute_query_general(query, parameters=None):
    with driver.session() as session:
        result = session.run(query, parameters)
        return [record for record in result]

In [37]:
# Define function that can basically obtain counts 
# We will
def execute_query(query,parameters=None):
    with driver.session() as session:
        result = session.run(query, parameters)
        return [{"Site Name": record["Site Name"], "counts": record["counts"], "latitude":record["latitude"], "longitude":record["longitude"]} for record in result]

def query_constructor(node_type, pollutant_area):
    query = "MATCH (env:Node {id: " + "'" + node_type + "'})-[edge:RELATES_TO]-(pointed:Node)-[tosite:RELATES_TO {category: "+ "'" + pollutant_area + "'}]-(sitenode:Node {node_class: 'Site'}) \
    RETURN sitenode.label AS `Site Name`, sitenode.latitude AS latitude, sitenode.longitude AS longitude, count(*) AS counts \
    ORDER BY counts DESC"

    return query

results = execute_query(query_constructor("Carcinogenicity", "Water"))

df = pd.DataFrame(results)

df

,Site Name,counts,latitude,longitude
0,TH Agriculture & Nutrition Company - NPL Site,5,31.61722,-84.18167
1,M&J Solvents Company,5,33.795,-84.43806
2,Atlanta Gas Light Company - Waycross MGP Site,5,31.19889,-82.37389
3,Robins Air Force Base - NPL Site,5,32.62083,-83.58167
4,"Amrep, Inc. - Marietta",5,33.97583,-84.53944
...,...,...,...,...
171,Southside Cleaners,1,31.97361,-81.13306
172,Cork's Fabricare,1,31.22333,-81.47833
173,Lowe's Home Improvement Warehouse,1,33.55083,-84.41389
174,Chase Road Property,1,34.51778,-83.51194
175,Square D Company (Former),1,33.79278,-84.43

In [16]:
# Establish function to dynamically return available nodes in the db
def get_nodes_by_class(node_class):
    query = "MATCH (n) WHERE n.node_class = $node_class RETURN n.id"
    print(query)
    with driver.session() as session:
        result = session.run(query, node_class=node_class)
        return [record["n.id"] for record in result]

node_class = "Chem Desc"
node_names = get_nodes_by_class(node_class)

MATCH (n) WHERE n.node_class = $node_class RETURN n.id
['Cardiotoxicity', 'IGC50', 'Carcinogenicity', 'LC50', 'Hepatotoxicity', 'Dev_Toxic', 'Respiratory', 'Repo_Toxic', 'BCF', 'Endocrine_NR-AR', 'LCM50DM', 'Mutagenicity']

In [17]:
node_names

['Cardiotoxicity',
 'IGC50',
 'Carcinogenicity',
 'LC50',
 'Hepatotoxicity',
 'Dev_Toxic',
 'Respiratory',
 'Repo_Toxic',
 'BCF',
 'Endocrine_NR-AR',
 'LCM50DM',
 'Mutagenicity']

# Prepare data for shiny app

In [108]:
water_data = {}
soil_data = {}
for node in node_names:
    results = execute_query(query_constructor(node, "Water"))

    df = pd.DataFrame(results)
    df.to_csv("./water/" + node + ".csv")

    water_data.update({node:df})

for node in node_names:
    results = execute_query(query_constructor(node, "Soil"))

    df = pd.DataFrame(results)
    df.to_csv("./soil/" + node + ".csv")

    soil_data.update({node:df})

In [39]:
soil_data

{'Cardiotoxicity': Empty DataFrame
 Columns: []
 Index: [],
 'IGC50':                              Site Name  counts  latitude  longitude
 0     Robins Air Force Base - NPL Site       8  32.62083  -83.58167
 1    Atlantic Wood Industries (Former)       7  32.14583  -81.14917
 2       Seaboard Industrial Blvd. Site       7  33.80833  -84.43167
 3    Paper Mill Road Undeveloped Tract       6   33.9525  -83.96278
 4     Pilot Wastewater Treatment Plant       5  32.97278  -85.02667
 ..                                 ...     ...       ...        ...
 113          Polymer Specialties, Inc.       1  34.98111    -85.435
 114             Amrep, Inc. - Marietta       1  33.97583  -84.53944
 115                Chase Road Property       1  34.51778  -83.51194
 116          Square D Company (Former)       1  33.79278     -84.43
 117                 Thomas & Co., Inc.       1  33.26667  -84.25889

 [118 rows x 4 columns],
 'Carcinogenicity':                                              Site Name  counts  latitude  \
 0                              S&M Scrap Metal Company       5  31.44611
 1                                15667 Alabama Highway       4  34.76833
 2        TH Agriculture & Nutrition Company - NPL Site       4  31.61722
 3    Perma-Fix of South Georgia (fka Chemical Conse...       4   30.7975
 4        Atlanta Gas Light Company - Savannah MGP Site       4  32.07806
 ..                                                 ...     ...       ...
 110                                 Southside Cleaners       1  31.97361
 111                             Amrep, Inc. - Marietta       1  33.97583
 112                  Lowe's Home Improvement Warehouse       1  33.55083
 113                                Chase Road Property       1  34.51778
 114                                 Thomas & Co., Inc.       1  33.26667

      longitude
 0    -83.48917
 1       -85.15
 2    -84.18167
 3    -83.28083
 4    -81.08361
 ..         ...
 110  -81.13306
 111  -84.53944
 112  -84.41389
 113  -83.51194
 114  -84.25889

 [115 rows x 4 columns],
 'LC50':                                 Site Name  counts  latitude  longitude
 0          Seaboard Industrial Blvd. Site      13  33.80833  -84.43167
 1            Colonial Terminals, Plant #1      12  32.09444  -81.11333
 2        Robins Air Force Base - NPL Site      12  32.62083  -83.58167
 3                Ashland Chemical Company      11    33.905  -84.24278
 4                    Coats American, Inc.      11   34.9775  -85.29389
 ..                                    ...     ...       ...        ...
 153   Hunter Army Airfield - MCA Barracks       1  32.02556  -81.13722
 154  United Technologies Automotive, Inc.       1  33.45028  -82.53889
 155  Louisiana Pacific Corp. - Statesboro       1  32.41972  -81.80417
 156                            STSE, Inc.       1  31.17472  -81.49111
 157             CSXT Depriest Signal Shop       1  32.06833    -81.085

 [158 rows x 4 columns],
 'Hepatotoxicity':                                         Site Name  counts  latitude  longitude
 0               McCranie Brothers Wood Preserving       5  31.33694  -83.04194
 1   TH Agriculture & Nutrition Company - NPL Site       4  31.61722  -84.18167
 2                            Parramore Fertilizer       4  31.44028   -83.5125
 3                Robins Air Force Base - NPL Site       4  32.62083  -83.58167
 4    Atlanta Gas Light Company - Griffin MGP Site       4  33.24389  -84.26833
 ..                                            ...     ...       ...        ...
 88                               Vantran Electric       1  32.99139  -82.38556
 89                      Polymer Specialties, Inc.       1  34.98111    -85.435
 90                      Square D Company (Former)       1  33.79278     -84.43
 91     Chemical Specialists and Development, Inc.       1  33.85194  -84.20278
 92                             Thomas & Co., Inc.       1  33.26667  -84.25889

 [93 rows x 4 columns],
 'Dev_Toxic':                                              Site Name  counts  latitude  \
 0         Atlanta Gas Light Company - Griffin MGP Site       9  33.24389
 1    Perma-Fix of South Georgia (fka Chemical Conse...       8   30.7975
 2                     Pilot Wastewater Treatment Plant       7  32.97278
 3                         Colonial Terminals, Plant #1       7  32.09444
 4        Atlanta Gas Light Company - Savannah MGP Site       7  32.07806
 ..                                                 ...     ...       ...
 135                                 Southside Cleaners       1  31.97361
 136                  Lowe's Home Improvement Warehouse       1  33.55083
 137                             Rolling Hills Landfill       1  33.61556
 138                    Estech General Chemicals Albany       1  31.59806
 139                                 Thomas & Co., Inc.       1  33.26667

      longitude
 0    -84.26833
 1    -83.28083
 2    -85.02667
 3    -81.11333
 4    -81.08361
 ..         ...
 135  -81.13306
 136  -84.41389
 137  -84.41639
 138  -84.15417
 139  -84.25889

 [140 rows x 4 columns],
 'Respiratory': Empty DataFrame
 Columns: []
 Index: [],
 'Repo_Toxic':                                             Site Name  counts  latitude  \
 0                    Pilot Wastewater Treatment Plant       2  32.97278
 1                                            Hercules       2  31.16528
 2                1610 Southland Circle (fka "Indcon")       2  33.80167
 3                            Ashland Chemical Company       2    33.905
 4                    Robins Air Force Base - NPL Site       2  32.62083
 5                                     Crymes Landfill       2  33.87194
 6        Atlanta Gas Light Company - Griffin MGP Site       2  33.24389
 7                      Seaboard Industrial Blvd. Site       2  33.80833
 8          Chemical Specialists and Development, Inc.       2  33.85194
 9                   Paper Mill Road Undeveloped Tract       1   33.9525
 10           Kemira Chemicals, Inc. Marietta Facility       1  33.99222
 11            Best Manufacturing Company,Armuchee Div       1  34.36417
 12                     Hunter Army Airfield/TCE Plume       1  32.01444
 13                    Brown and Brown Wrecker Service       1  33.89833
 14                            Noble Cleaners (Former)       1  33.97028
 15                         Dow Chemical - Dalton Site       1  34.63278
 16                                      Shaver's Farm       1  34.79889
 17       CSX Transportation - Savannah (Tremont Road)       1  32.06222
 18                  Atlantic Wood Industries (Former)       1  32.14583
 19                      Williams-Mesena Road Landfill       1  33.45806
 20      TH Agriculture & Nutrition Company - NPL Site       1  31.61722
 21                        General Tire - Aldora Plant       1  33.05306
 22        General Electric - Apparatus Service Center       1  33.88611
 23               U.S. Naval Submarine Base, Kings Bay       1  30.81194
 24      Atlanta Gas Light Company - Waycross MGP Site       1  31.19889
 25  Perma-Fix of South Georgia (fka Chemical Conse...       1   30.7975
 26      Atlanta Gas Light Company - Savannah MGP Site       1  32.07806
 27       Atlanta Gas Light Company - Augusta MGP Site       1  33.46778
 28                                    Southern States       1  33.38583
 29                           LCP Chemicals - NPL Site       1  31.18361
 30                           Ashland Chemical Company       1  32.08139
 31                            Deptford Tract Landfill       1  32.07167
 32                    Murrow Brothers Delinting Waste       1  33.77972
 33                                  139 Brampton Road       1   32.1075
 34                            S&M Scrap Metal Company       1  31.44611
 35                            Apollo Industries, Inc.       1  33.83722
 36                                  Goldberg Brothers       1  33.43861
 37                            AMC International, Inc.       1  34.70778
 38              Vulcan Performance Chemicals (Former)       1  33.81917
 39                 5998  Fairburn Road - Dry Cleaners       1  33.75083
 40                               Circle K Store #5259       1  33.96472
 41                                       Sechem, Inc.       1  33.96972
 42                                    Rayloc Facility       1  33.77167
 43    Brown Steel Contractors - Broad Street Facility       1  33.37333
 44                                  Legion Industries       1  33.10194
 45                           Liberty Oil and Refining       1  31.13139
 46  One-Hour Cleanerizing (assoc. with Peach Orcha...       1  33.42389
 47                   Unitog Company Facility (Former)       1    33.755
 48                                            Chem-Am       1     33.06
 49                          Polymer Specialties, Inc.       1  34.98111
 50                                         All Rental       1  33.93361
 51                               Coats American, Inc.       1   34.9775
 52                          Square D Company (Former)       1  33.79278

     longitude
 0   -85.02667
 1   -81.47861
 2   -84.43333
 3   -84.24278
 4   -83.58167
 5   -84.18528
 6   -84.26833
 7   -84.43167
 8   -84.20278
 9   -83.96278
 10  -84.52806
 11  -85.16917
 12  -81.14417
 13    -84.285
 14  -84.53444
 15  -84.92806
 16   -85.3075
 17  -81.14917
 18  -81.14917
 19  -82.54306
 20  -84.18167
 21  -84.17694
 22  -84.31389
 23  -81.57028
 24  -82.37389
 25  -83.28083
 26  -81.08361
 27  -81.96972
 28     -84.29
 29  -81.51083
 30  -81.13722
 31  -81.04056
 32    -83.425
 33  -81.14472
 34  -83.48917
 35  -84.50083
 36  -81.99389
 37    -84.955
 38  -84.50167
 39  -84.72944
 40  -84.41472
 41  -84.18306
 42  -84.52472
 43   -84.7975
 44   -82.0075
 45    -83.705
 46  -82.01889
 47  -84.55083
 48  -84.97194
 49    -85.435
 50  -84.21889
 51  -85.29389
 52     -84.43  ,
 'BCF':                                          Site Name  counts  latitude  \
 0                 Robins Air Force Base - NPL Site      14  32.62083
 1                     Colonial Terminals, Plant #1      11  32.09444
 2                             Coats American, Inc.      11   34.9775
 3    TH Agriculture & Nutrition Company - NPL Site       9  31.61722
 4    Atlanta Gas Light Company - Savannah MGP Site       9  32.07806
 ..                                             ...     ...       ...
 130           Daniel Measurement and Control, Inc.       1  32.48722
 131                                        Chem-Am       1     33.06
 132           GA DOT Jesup District Office Complex       1    31.595
 133                        Manchester Tank Company       1  34.01194
 134                   Lanier Plaza Shopping Center       1  31.15917

      longitude
 0    -83.58167
 1    -81.11333
 2    -85.29389
 3    -84.18167
 4    -81.08361
 ..         ...
 130  -81.72889
 131  -84.97194
 132  -81.86778
 133  -85.27694
 134  -81.47917

 [135 rows x 4 columns],
 'Endocrine_NR-AR':                                            Site Name  counts  latitude  \
 0                  Paper Mill Road Undeveloped Tract       1   33.9525
 1               Brockway Standard - Homerville Plant       1  31.02917
 2               1610 Southland Circle (fka "Indcon")       1  33.80167
 3                           Ashland Chemical Company       1    33.905
 4                            S&M Scrap Metal Company       1  31.44611
 5           Hunter Army Airfield, Fire Training Area       1  32.01444
 6  One-Hour Cleanerizing (assoc. with Peach Orcha...       1  33.42389
 7                             Amrep, Inc. - Marietta       1  33.97583

    longitude
 0  -83.96278
 1  -82.77361
 2  -84.43333
 3  -84.24278
 4  -83.48917
 5  -81.14417
 6  -82.01889
 7  -84.53944  ,
 'LCM50DM':                                 Site Name  counts  latitude  longitude
 0            Colonial Terminals, Plant #1      14  32.09444  -81.11333
 1        Robins Air Force Base - NPL Site      14  32.62083  -83.58167
 2          Seaboard Industrial Blvd. Site      13  33.80833  -84.43167
 3                Ashland Chemical Company      12    33.905  -84.24278
 4                    Coats American, Inc.      12   34.9775  -85.29389
 ..                                    ...     ...       ...        ...
 153   Hunter Army Airfield - MCA Barracks       1  32.02556  -81.13722
 154  United Technologies Automotive, Inc.       1  33.45028  -82.53889
 155  Louisiana Pacific Corp. - Statesboro       1  32.41972  -81.80417
 156                            STSE, Inc.       1  31.17472  -81.49111
 157             CSXT Depriest Signal Shop       1  32.06833    -81.085

 [158 rows x 4 columns],
 'Mutagenicity':                                          Site Name  counts  latitude  \
 0    Atlanta Gas Light Company - Savannah MGP Site       7  32.07806
 1                          Deptford Tract Landfill       7  32.07167
 2                 Robins Air Force Base - NPL Site       7  32.62083
 3     Atlanta Gas Light Company - Griffin MGP Site       7  33.24389
 4     CSX Transportation - Savannah (Tremont Road)       6  32.06222
 ..                                             ...     ...       ...
 100               Unitog Company Facility (Former)       1    33.755
 101                                        Chem-Am       1     33.06
 102                      Polymer Specialties, Inc.       1  34.98111
 103                         Amrep, Inc. - Marietta       1  33.97583
 104                                     All Rental       1  33.93361

      longitude
 0    -81.08361
 1    -81.04056
 2    -83.58167
 3    -84.26833
 4    -81.14917
 ..         ...
 100  -84.55083
 101  -84.97194
 102    -85.435
 103  -84.53944
 104  -84.21889

 [105 rows x 4 columns]}

In [72]:
summary_stats_2022[["Geography", "avg_pop", "percent_black", "poverty_rate", "age_18_24_score", "educational_score_25_over"]]

,Geography,avg_pop,percent_black,poverty_rate,age_18_24_score,educational_score_25_over
0,Appling,18136.826087,19.763404,23.422823,1.052459,1.312125
1,Atkinson,8189.739130,15.629888,28.172589,0.983951,1.200265
2,Bacon,10906.217391,16.445242,26.110090,1.152807,1.342518
3,Baker,3462.565217,38.220065,20.614887,1.095238,1.630890
4,Baldwin,45536.956522,42.048278,23.720588,1.548893,1.740812
...,...,...,...,...,...,...
154,Whitfield,99070.782609,3.462285,16.242597,1.357603,1.345530
155,Wilcox,8870.434783,35.570624,25.026257,0.991848,1.420438
156,Wilkes,10222.173913,41.890375,22.440087,1.189459,1.333808
157,Wilkinson,9485.739130,39.038569,24.651004,1.282454,1.376569
158,Worth,21270.434783,28.133294,18.856715,1.348664,1.410507

In [80]:
import json
import plotly.graph_objs as go

with open('Neo4JOutputs/geojson-counties-fips.json') as file:
    counties_geojson = json.load(file)

def plot_feature(pulldata, site_var, county_var, location):
    georgia_features = [feature for feature in counties_geojson['features'] if feature['properties']['STATE'] == '13']

    georgia_geojson = {
        "type": "FeatureCollection",
        "features": georgia_features
    }

    chemical_colorscale = [
        [0, 'rgb(0, 50, 50)'],
        [0.5, 'rgb(0, 100, 50)'],
        [1, 'rgb(0, 0, 200)']
    ]

    # Create a scatter plot for the sites
    scatter = go.Scattergeo(
        lon = pulldata['longitude'],
        lat = pulldata['latitude'],
        text = pulldata['Site Name'],
        mode = 'markers',
        marker = dict(
            color = pulldata['counts'],
            colorscale = chemical_colorscale,
            colorbar = dict(
                title = 'Number of Chemicals',
                x = 0.1
            ),
            opacity = 0.5,
            reversescale = False,
            symbol = 'circle',
            showscale = True
        )
    )

    # Create a map with both the scatter plot and the county boundaries
    fig = go.Figure(scatter)
    fig.update_geos(
        fitbounds="locations",
        visible=False
    )
    fig.add_trace(
        go.Choropleth(
            geojson=georgia_geojson,
            featureidkey="properties.NAME",
            locations=summary_stats_2022['Geography'],
            z=summary_stats_2022[county_var],
            colorscale="Reds",
            colorbar = dict(
                title = county_var,
                x = 0.9
            ),
            marker_line_width=0
        )
    )
    fig.update_layout(
        title_text = county_var + ' & ' + site_var + " - " + location,
        geo_scope='usa',
    )

    # Show the figure
    return fig

,County,counts,population_category,black_percentile_category,poor_percentile_category,age_18_24_percentile_category,educational_score_25_over_percentile_category
9,Chatham,54,very high,high,low,very high,very high
24,Fulton,33,very high,very high,low,very high,very high
13,Cobb,16,very high,medium,very low,very high,very high
26,Gwinnett,15,very high,medium,very low,very high,very high
41,Richmond,13,very high,very high,high,high,high
20,Dougherty,13,very high,very high,very high,high,high
25,Glynn,12,very high,medium,medium,medium,very high
50,Troup,12,high,high,medium,high,high
48,Tift,12,high,medium,high,very high,medium
43,Spalding,11,high,high,medium,medium,medium
23,Floyd,10,very high,low,medium,high,high
3,Bibb,10,very high,very high,very high,very high,high
35,Lowndes,9,very high,high,high,very high,very high
12,Clinch,9,very low,medium,very high,low,very low
51,Walker,9,high,very low,low,high,medium
55,Whitfield,9,very high,very low,low,high,low
52,Ware,8,high,medium,high,very low,low
28,Houston,8,very high,high,very low,very high,very high
19,DeKalb,7,very high,very high,low,very high,very high
32,Jones,6,high,low,very low,medium,high
21,Douglas,6,very high,very high,very low,high,very high
39,Polk,5,high,low,medium,medium,low
2,Bartow,5,very high,very low,very low,low,high
8,Catoosa,5,high,very low,very low,medium,high
45,Sumter,5,high,very high,high,very high,high
17,Coweta,4,very high,low,very low,high,very high
7,Carroll,4,very high,low,low,high,high
1,Atkinson,4,very low,low,very high,very low,very low
44,Stephens,3,medium,low,low,very high,medium
47,Thomas,3,high,high,medium,high,high
29,Jackson,3,high,very low,very low,low,high
30,Jeff Davis,3,low,low,medium,very low,low
27,Habersham,3,high,very low,low,medium,medium
14,Coffee,3,high,medium,medium,medium,very low
15,Colquitt,3,high,low,high,high,very low
4,Bulloch,3,very high,medium,high,very high,very high
49,Toombs,2,medium,medium,high,medium,medium
40,Rabun,2,low,very low,medium,very high,very high
5,Burke,2,medium,very high,medium,medium,low
18,Dade,2,low,very low,very low,very high,medium
37,Mitchell,2,medium,very high,very high,medium,low
36,McDuffie,2,medium,high,medium,low,medium
34,Liberty,2,high,high,low,high,high
11,Clayton,2,very high,very high,medium,medium,high
0,Appling,2,medium,low,high,very low,very low
38,Muscogee,1,very high,very high,medium,very high,very high
42,Rockdale,1,very high,very high,very low,high,very high
10,Clarke,1,very high,medium,very high,very high,very high
46,Tattnall,1,medium,medium,high,very low,low
33,Lamar,1,medium,medium,low,high,medium
6,Camden,1,high,low,low,high,very high
31,Jefferson,1,low,very high,high,very low,very low
16,Cook,1,low,medium,high,low,medium
22,Early,1,low,very high,very high,low,low
53,Washington,1,medium,very high,high,medium,low
54,White,1,medium,very low,very low,low,high

In [90]:
summary_stats_2022

,Unnamed: 0,Geography,avg_pop,population_category,percent_black,black_percentile_category,poverty_rate,poor_percentile_category,age_18_24_score,educational_score_25_over,age_18_24_percentile_category,educational_score_25_over_percentile_category,I,IV,II,V,total_sites,SitesCategory,group_identifier,years
0,1,Appling,18136.826087,medium,19.763404,low,23.422823,high,1.052459,1.312125,very low,very low,1,0,0,0,1,>=1 Site,medium.low.high.very low,1994
1,2,Atkinson,8189.739130,very low,15.629888,low,28.172589,very high,0.983951,1.200265,very low,very low,1,0,0,0,1,>=1 Site,very low.low.very high.very low,1994
2,3,Bacon,10906.217391,low,16.445242,low,26.110090,very high,1.152807,1.342518,low,very low,0,1,0,0,1,>=1 Site,low.low.very high.very low,2002
3,4,Baker,3462.565217,very low,38.220065,high,20.614887,medium,1.095238,1.630890,low,high,0,0,0,0,0,0 Site,very low.high.medium.high,NaN
4,5,Baldwin,45536.956522,high,42.048278,very high,23.720588,high,1.548893,1.740812,very high,high,0,1,0,0,1,>=1 Site,high.very high.high.high,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,155,Whitfield,99070.782609,very high,3.462285,very low,16.242597,low,1.357603,1.345530,high,low,0,2,0,0,2,>=1 Site,very high.very low.low.low,"1997, 2001"
155,156,Wilcox,8870.434783,very low,35.570624,high,25.026257,very high,0.991848,1.420438,very low,low,0,0,0,0,0,0 Site,very low.high.very high.low,NaN
156,157,Wilkes,10222.173913,low,41.890375,high,22.440087,high,1.189459,1.333808,low,very low,0,1,0,0,1,>=1 Site,low.high.high.very low,1997
157,158,Wilkinson,9485.739130,very low,39.038569,high,24.651004,very high,1.282454,1.376569,medium,low,0,1,0,0,1,>=1 Site,very low.high.very high.low,2001
158,159,Worth,21270.434783,medium,28.133294,medium,18.856715,medium,1.348664,1.410507,high,low,0,1,0,0,1,>=1 Site,medium.medium.medium.low,2007

In [105]:
from shiny import App, ui, reactive, render, Inputs, Outputs, Session
import nest_asyncio
import pandas as pd
from plotly.io import to_html
import plotly.express as px

nest_asyncio.apply()

# Assuming soil_data and water_data are defined somewhere in your script

app_ui = ui.page_fluid(
    ui.navset_tab(
        # Tab 1: View Data
        ui.nav("View Data", "View Data", ui.page_fluid(
            ui.input_select("select_type", "Select Type:", ["Soil", "Water"]),
            ui.input_select("select_key", "Select Key:", list(water_data.keys())),
            ui.output_ui("data_display"),
        )),
        # Tab 2: View Agg Data
        ui.nav("View County Stats", "View County Stats", ui.page_fluid(
            ui.input_select("select_type_county", "Select Type:", ["Soil", "Water"]),
            ui.input_select("select_key_county", "Select Key:", list(water_data.keys())),
            ui.input_select("filter_bool", "Filter?", ["Yes", "No"]),
            ui.input_select("filterby", "Filter By:", ["population_category", "black_percentile_category", "poor_percentile_category", "age_18_24_percentile_category", "educational_score_25_over_percentile_category"]),
            ui.input_select("filterbylevel", "Filter Level:", ["very low", "low", "medium", "high", "very high"]),
            ui.output_ui("data_display_agg"),
        )),
        # Tab 3: Map View
        ui.nav("Map View", "Map View", ui.div(
            ui.input_select("select_type_map", "Select Type:", ["Soil", "Water"]),
            ui.input_select("select_key_map", "Select Key:", list(water_data.keys())),
            ui.input_select("select_countvar_map", "Select County Variable", ["avg_pop", "percent_black", "poverty_rate", "age_18_24_score", "educational_score_25_over"]),
            ui.output_ui("map_display")
        )),
        # Tab 4: Statistics (Eventually)
        ui.nav("Plot County Trends", "Plot County Trends", ui.div(
            ui.input_select("select_type_trends", "Select Type:", ["Soil", "Water"]),
            ui.input_select("select_key_trends", "Select Key:", list(water_data.keys())),
            ui.input_select("plot_county", "Plot County:", ["avg_pop", "percent_black", "poverty_rate", "age_18_24_score", "educational_score_25_over"]),
            ui.output_ui("stats_display")
        ))
    )
)

# Server logic
def server(input, output, session: Session):

    @output
    @render.ui
    def data_display():
        selected_type = input.select_type()
        selected_key = input.select_key()
        data = soil_data[selected_key] if selected_type == "Soil" else water_data[selected_key]
        return ui.HTML(data.to_html(classes="table table-striped"))

    @output
    @render.ui
    def data_display_agg():
        selected_type = input.select_type_county()
        selected_key = input.select_key_county()
        data = soil_data[selected_key] if selected_type == "Soil" else water_data[selected_key]

        merge1 = pd.merge(left = data, right = joining_table)[["County", "counts"]]

        merge1_agg = merge1.groupby("County").agg("sum").reset_index()

        return_data = pd.merge(merge1_agg, summary_stats_2022[["Geography","population_category", "black_percentile_category", "poor_percentile_category", "age_18_24_percentile_category", "educational_score_25_over_percentile_category"]], left_on = "County", right_on = "Geography").drop(["Geography"], axis = 1).sort_values(by = "counts", ascending= False)

        if input.filter_bool() == "Yes":
            selected_col = input.filterby()
            level = input.filterbylevel()

            return_data = return_data.loc[return_data[selected_col] == level ,:]
                
        return ui.HTML(return_data.to_html(classes="table table-striped"))

    @output
    @render.ui
    def map_display():
        selected_type = input.select_type_map()
        selected_key = input.select_key_map()
        selected_county_var = input.select_countvar_map()
        data = soil_data[selected_key] if selected_type == "Soil" else water_data[selected_key]

        fig = plot_feature(data, selected_key, selected_county_var, selected_type)

        plot_html = to_html(fig, full_html=False, include_plotlyjs='cdn')
        return ui.HTML(plot_html)

    @output
    @render.ui
    def stats_display():
        selected_type = input.select_type_trends()
        selected_key = input.select_key_trends()
        data = soil_data[selected_key] if selected_type == "Soil" else water_data[selected_key]

        merge1 = pd.merge(left = data, right = joining_table)[["County", "counts"]]

        merge1_agg = merge1.groupby("County").agg("sum").reset_index()

        return_data = pd.merge(merge1_agg, summary_stats_2022[["Geography","avg_pop", "percent_black", "poverty_rate", "age_18_24_score", "educational_score_25_over"]], left_on = "County", right_on = "Geography").drop(["Geography"], axis = 1).sort_values(by = "counts", ascending= False)

        plotthis = input.plot_county()

        fig = px.scatter(return_data, x = plotthis, y = "counts", hover_data = ["County"])

        plot_html = to_html(fig, full_html=False, include_plotlyjs='cdn')

        return ui.HTML(plot_html)

app = App(app_ui, server)
app.run()

INFO:     Started server process [91382]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://127.0.0.1:8000 (Press CTRL+C to quit)

INFO:     127.0.0.1:57686 - "GET / HTTP/1.1" 200 OK

INFO:     ('127.0.0.1', 57688) - "WebSocket /websocket/" [accepted]
INFO:     connection open
Traceback (most recent call last):
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/session/_session.py", line 1023, in output_obs
    message[output_name] = renderer_fn()
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 407, in __call__
    return run_coro_sync(self._run())
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/_utils.py", line 304, in run_coro_sync
    coro.send(None)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 322, in _run
    ret = await self._transformer(
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/_render.py", line 523, in UiTransformer
    ui = await resolve_value_fn(_fn)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 802, in resolve_value_fn
    return value_fn()
  File "/var/folders/nb/ycs9bbrs3mbbfsttyvtvylw80000gn/T/ipykernel_91382/936176060.py", line 97, in stats_display
    merge1 = pd.merge(left = data, right = joining_table)[["County", "counts"]]
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/pandas/core/reshape/merge.py", line 169, in merge
    op = _MergeOperation(
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/pandas/core/reshape/merge.py", line 783, in __init__
    self.left_on, self.right_on = self._validate_left_right_on(left_on, right_on)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/pandas/core/reshape/merge.py", line 1538, in _validate_left_right_on
    raise MergeError(
pandas.errors.MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False
Traceback (most recent call last):
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/session/_session.py", line 1023, in output_obs
    message[output_name] = renderer_fn()
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 407, in __call__
    return run_coro_sync(self._run())
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/_utils.py", line 304, in run_coro_sync
    coro.send(None)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 322, in _run
    ret = await self._transformer(
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/_render.py", line 523, in UiTransformer
    ui = await resolve_value_fn(_fn)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 802, in resolve_value_fn
    return value_fn()
  File "/var/folders/nb/ycs9bbrs3mbbfsttyvtvylw80000gn/T/ipykernel_91382/936176060.py", line 85, in map_display
    fig = plot_feature(data, selected_key, selected_county_var, selected_type)
  File "/var/folders/nb/ycs9bbrs3mbbfsttyvtvylw80000gn/T/ipykernel_91382/3132990745.py", line 23, in plot_feature
    lon = pulldata['longitude'],
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/pandas/core/frame.py", line 3896, in __getitem__
    indexer = self.columns.get_loc(key)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/pandas/core/indexes/range.py", line 418, in get_loc
    raise KeyError(key)
KeyError: 'longitude'
Traceback (most recent call last):
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/session/_session.py", line 1023, in output_obs
    message[output_name] = renderer_fn()
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 407, in __call__
    return run_coro_sync(self._run())
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/_utils.py", line 304, in run_coro_sync
    coro.send(None)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 322, in _run
    ret = await self._transformer(
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/_render.py", line 523, in UiTransformer
    ui = await resolve_value_fn(_fn)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/shiny/render/transformer/_transformer.py", line 802, in resolve_value_fn
    return value_fn()
  File "/var/folders/nb/ycs9bbrs3mbbfsttyvtvylw80000gn/T/ipykernel_91382/936176060.py", line 63, in data_display_agg
    merge1 = pd.merge(left = data, right = joining_table)[["County", "counts"]]
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/pandas/core/reshape/merge.py", line 169, in merge
    op = _MergeOperation(
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/pandas/core/reshape/merge.py", line 783, in __init__
    self.left_on, self.right_on = self._validate_left_right_on(left_on, right_on)
  File "/Users/kenminsoo/opt/anaconda3/envs/datathink/lib/python3.9/site-packages/pandas/core/reshape/merge.py", line 1538, in _validate_left_right_on
    raise MergeError(
pandas.errors.MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False
INFO:     Shutting down
INFO:     connection closed
INFO:     Waiting for application shutdown.
INFO:     Application shutdown complete.
INFO:     Finished server process [91382]